.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row .row-eq-height{ 
  display: flex;
  align-items: center;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#explanations {
    padding-top: 50px;
}

#explanations h3 {
    text-align: center;
}

footer{
    margin-top: auto;
}