.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row .row-eq-height{ 
  display: flex;
  align-items: center;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.shapChart, .simTweets {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    text-align: center;
}

.simTweets h1 {
  padding-bottom: 50px;
}

footer{
    margin-top: auto;
}

#chart {
  display: flex;
  justify-content: center;

}

.bar {
    display: inline-block;
    width: 200px;
    height: 20px;
    position: relative;
    margin-right: 1px;

  }

  .label {
    display: relative !important;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: black !important;
    margin-left: 0 !important;
    top: 5px;
    left: 0;

  }

  .group {
    max-width: fit-content;
    display: inline;
    height: fit-content;
    margin-bottom: 5rem;
  }

  #similar-tweets {
    display: flex;
    justify-content: space-around;
  }

  .similar-tweet {
    width: 500px;
    height: 300px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
  }

  .similar-tweet__main-content {
    display: flex;
    gap: 30px
  }

  .similar-tweet__main-content > p {
    max-width: 60%;
    margin: auto 0;
  }

  .score {
    text-align: center;
  }

  .score h3 {
    font-size: 18px
  }

  .score p {
    font-weight: bold;
    font-size: 16px;
  }

  .hatespeech-label, .no-hatespeech-label {
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: white;
    padding: 5px 10px;
    border-radius: 6px
  }

  .hatespeech-label {
    background-color: rgba(255, 0, 0, 0.7);
  }

  .no-hatespeech-label {
    background-color: rgba(70, 130, 180, 0.7);
  }