img {
    display:block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    padding: 1rem;
  }

  .row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row .row-eq-height{ 
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}